@font-face {
    font-family: Telegrama;
    src: url(telegrama.otf);
}

:root {
    --black10: rgb(10, 10, 10);
    --black20: rgb(20, 20, 20);
    --black50: rgb(50, 50, 50);
    --white230: rgb(230, 230, 230);
    --activegreen: #8cff8c;
    --disabledred: #ff4f4f;
}

.CT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justifyelems {
  justify-content: space-between;
}

.ftp {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1em; /* a */
    max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

.nomargin {
    margin: 0px;
}

.fivemargin {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.matchbtnspacing {
    margin-left: 59px;
    margin-right: 59px;
    margin-bottom: 24px;
}

html {
    background-color: var(--black10);
    color: var(--white230);
    font-family: Telegrama;
    size: 100%;
}

button {
    font-family: Telegrama;
    border: 2px solid var(--activegreen);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 2px;
    background-color: var(--black20);
    color: var(--white230);
    padding: 10px;
    width: 200px;
}

.hover:hover {
    background-color: var(--black50);
    color: var(--white230);
}

.disabled {
    font-family: Telegrama;
    border: 2px solid var(--disabledred);
    background-color: var(--black20);
}

.flexbutton {
    width: auto;
}

textarea {
    resize: none;
    font-family: Telegrama;
    background-color: var(--black20);
    color: var(--white230);
    border-color: var(--white230);
    border-radius: 5px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--disabledred);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--activegreen);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--disabledred);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
}

/* container for music player */
.container {
    position: absolute;
    height: 300pt;
    width: 250pt;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

/* container for play, pause, previous track, next track, and progress bar  */
.box {
    position: absolute;
    height: 50%;
    width: 103%;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
    z-index: 4;
    bottom: -17%;
}

/* album cover */
#thumbnail {
    position: absolute;
    width: 103%;
    top: -7%;
    transition: 1s;
    z-index: 3;
}

/* track artist */
.song-artist {
    position: absolute;
    z-index: 4;
    color: rgb(193, 255, 6);
    font-family: Telegrama;
    font-weight: bold;
    font-size: 18px;
    bottom: 21%;
    left: 28%;
}

/* track title */
.song-title {
    position: absolute;
    z-index: 4;
    color: white;
    font-family: Telegrama;
    font-size: 16px;
    bottom: 16%;
    left: 28%;
}

/* style for play and pause images */
#play-pause {
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    bottom: 15%;
    z-index: 4;
    font-size: 53px;
    left: 9%;
}

/* style for next and previous song images */
#next-song, #previous-song {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
}

/* unique style for next song image */
#next-song {
    right: 10%;
}

/* unique style for previous song image */
#previous-song {
    right: 10.3%;
    bottom: 21.5%;
}

/* style for current time of the track */
.currentTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -7.5%;
    left: 17%;
    z-index: 4;
    font-family: Telegrama;
    font-size: 13px;
    color: white;
    align-items: center;
}

/* style for the total length of the track */
.durationTime {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: -1%;
    right: 11%;
    z-index: 4;
    font-family: Telegrama;
    font-size: 13px;
    align-items: center;
    color: rgb(193, 255, 6);
}

/* style for the progress bar */
#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 4;
    height: 5px;
    background: #000000;
    width: 160pt;
    bottom: 5%;
    border-radius: 30px;
    left: 17%;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 7px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(213, 213, 213), rgb(193, 255, 6));
    border-radius: 30px;
    cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progress-bar:focus {
    outline: none;
}

@media screen and (prefers-color-scheme: light) {
    html {
        background-color: var(--white230);
        color: var(--black10);
        font-family: Telegrama;
        size: 100%;
    }

    button {
        font-family: Telegrama;
        border: 2px solid #000000;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        margin: 2px;
        background-color: var(--white230);
        color: var(--black20);
        padding: 10px;
        width: 200px;
    }
}